---
import "./src/styles/global.css"
interface Props {
    pagetitle: string
}
const {pagetitle}= Astro.props
---
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="widh=device-width, initial-scale=1.0" />
         <title>{pagetitle}</title>
    </head>
    <body>
        <nav>
            <ul>
                <li>
                    <a href="/personne">Personne</a>
                    <a href="/film">Film</a>
                </li>
            </ul>
        </nav>
        <slot />
    </body>
</html>